html, body {
  margin: 0;
  padding: 0;
}


canvas {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}


.responsive{
  mix-blend-mode: color-burn;
  display: block;
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
}