html, body {
  margin: 0;
  padding: 0;
}

/* canvas {
  display: block;
} */
#container {
  width: 100px;
  height:100px;
  border: 1px solid red;
  
  
  margin: 0px auto;
  text-align: center;
}

#canvas {
  border: 1px solid blue;
  width: 50px;
  height: 100px;
  
}